tqdm
# tensorflow==2.6
# tensorflow-gpu==2.6
# keras==2.6
imutils
dlib
scipy
#python=3.6
opencv-python
requests
#conda install -c anaconda cudatoolkit
#export TF_XLA_FLAGS=--tf_xla_cpu_global_jit
pip install nvidia-pyindex
pip install nvidia-tensorflow[horovod]
pip uninstall tensorboard
pip install tensorboard